{% extends 'base.html' %}
{% load static %}



{% block contenido %}

<h1>Proyecto</h1>

<div class="gaston">
	<h3>Jolinont Gastón</h3>
	<p class ="Descripcion"><b>Github:</b> <a href="https://github.com/gastonjoli">/gastonjoli</a></p>
</div>

<div class="Jose">
	<h3>Mattar José</h3>
	<p class ="Descripcion"><b>Github:</b> <a href="https://github.com/Heito147">/Heito147</a></p>
</div>


<div class="Nico">
	<h3>Niz Nicolás</h3>
	<p class ="Descripcion"><b>Github:</b> <a href="https://github.com/NNicolasNiz">/NNicolasNiz</a></p>
</div>
		
<div class="Zoe">
	<h3>Roze Pratesi Zoe</h3>
	<p class ="Descripcion"><b>Github:</b> <a href= "https://github.com/Choee15"> /Choee15</a></p>
</div>

<div class="Lucas">
	<h3>Sanabria Lucas</h3>
	<p class ="Descripcion"><b>Github:</b> <a href="https://github.com/Lsege">/Lsege</a></p>
</div>




<div class="Emanuel">

	<h3>Gomila Emanuel</h3>
	<p class ="Descripcion"><b>Github:</b> <a href="https://github.com/Aldeer">/Aldeer</a></p>
</div>

<div class="bender">
	<h3>Bender Nicolas</h3>
	<p class ="Descripcion"><b>Github:</b> <a href="https://github.com/nicolasbender4">/nicolasbender4</a></p>
</div>

<br>

	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	<a href="{% url 'home' %}"><img src="{% static 'img/1main.png' %}"></a>

{% endblock contenido %}