{% extends 'base.html' %}
{% load static %}



{% block contenido %}

<h1>Proyecto</h1>
<div><p class="parrafo">Lorem ipsum dolor sit amet, consectetur adipiscing 
elit. Nunc pharetra elementum purus vitae cursus. Phasellus interdum 
tortor et diam auctor, quis venenatis magna tincidunt. Nullam accumsan 
lobortis tortor, in accumsan erat efficitur ut. 	</p></div>


<div class= "gaston">
	<h3>Jolinont Gastón</h3>
	<p class ="Descripcion"><b>Github:</b> <a href="https://github.com/gastonjoli">/gastonjoli</a></p>

	
</div>

<div class="Jose">
	<h3>Mattar José</h3>
	<p class ="Descripcion"><b>Github:</b> <a href="https://github.com/Heito147">/Heito147</a></p>
	
</div>

<div class="Nico">
	<h3>Niz Nicolás</h3>
	<p class ="Descripcion"><b>Github:</b> <a href="https://github.com/NNicolasNiz">/NNicolasNiz</a></p>


</div>
		
<div class="Zoe">
	<h3>Roze Pratesi Zoe</h3>

	<p class ="Descripcion"><b>Github:</b> <a href= "https://github.com/Choee15"> /Choee15</a></p>
</div>


<div class="Lucas">

	<h3>Sanabria Lucas</h3>
	<p class ="Descripcion"><b>Github:</b> <a href="https://github.com/Lsege">/Lsege</a></p>
</div>


	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

	<a href="{% url 'home' %}"><img src="{% static 'img/1main.png' %}"></a>

{% endblock contenido %}