body {
	background-color: rgb(27, 185, 177); 
	opacity: 1;
	text-align: center;
}

h1 {
	color: #FCFC14;
	font-family: Lobster;
	font-size: 50px;
	text-align: center;
}

h2{
	color:#000000;
	font-family: Helvetica;
	font-size: 35px;
	margin-right: 30px;
	text-align: center;
}

h3{
	color:#000000;
	font-family: Helvetica;
	font-size: 30px;
	margin-right: 30px;
	text-align: center;
	margin-right: 30px;
}

h4{
	color:#000000;
	font-family: Helvetica;
	font-size: 20px;
	margin-right: 30px;
	text-align: center;
	margin-right: 30px;
}

h5{
	color:#000000;
	font-family: Helvetica;
	font-size: 25px;
	margin-right: 30px;
	text-align: center;
	margin-right: 30px;
}

.parrafo{
	margin-right: 100px;
	margin-left: 100px;
	font-size: 1.5em;
	padding: 20px;
}

.gaston{
	width: 30%;
	margin: 10px;
	background-color: #ff6961;
	float: left;
}

.Jose{
	width: 30%;
	background-color: #77dd77;
	float: left;
	margin:10px;
}

.Nico{
	width: 30%;
	background-color: #fdfd96;
	float: left;
	margin:10px;
}

.Zoe{
	width: 30%;
	background-color: #fdcae1;
	float: left;
	margin:10px;
}

.Lucas{
	width: 30%;
	background-color: #84b6f4;
	float: left;
	margin:10px;
}

.Descripcion{
	font-size: 1.3em;
}