{% extends 'base.html' %}
{% load static %}


{% block contenido %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	<h1>¡Que comience el juego!</h1>
    <h3>
        Como jugar:
    </h3>
    <h4>Las reglas son sencillas, hace click a la respuesta que consideres correcta y seguí jugando.<br>
<br>
    Perderas cuando contestes incorrectamente.<br>
<br>
	Hay varias categorías de preguntas: <br>
	<br>
	1.	CULTURA Y ARTE <br>
	2.	HISTORIA <br>
	3.	DEPORTE<br>
	4.	GEOGRAFÍA <br>
	5.	ECONOMÍA<br>
	6.	CIENCIA Y EDUCACIÓN <br>
	7.	ENTRETENIMIENTO<br>
	</h4>
	<br>
	<h3>¡MUCHA SUERTE!</h3>
	<br>
	<H3>
	<a href="{% url 'preguntas:jugar' %}">Jugar</a>
	</H3>

{% endblock contenido %}