{% extends 'base.html' %}
{% load static %}


{% block contenido %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	<h3>¿Cómo jugar?</h3>
	<h4>
		<p>
		Las reglas son sencillas, hace click a la respuesta que consideres correcta y seguí jugando. <br>
    	Perderas cuando contestes incorrectamente. <br>
		Hay varias categorías de preguntas:
		</p>
		<p align=center>
		1.	CULTURA Y ARTE <br>
		2.	HISTORIA <br>
		3.	DEPORTE<br>
		4.	GEOGRAFÍA <br>
		5.	ECONOMÍA<br>
		6.	CIENCIA Y EDUCACIÓN <br>
		7.	ENTRETENIMIENTO</p>

	{% if user.is_authenticated %}
		<h3><a href="{% url 'preguntas:iniciar' %}">Jugar</a></h3>
	{% else %}
		<a href = "{% url 'login' %}">LOGIN</a>
		<a href = "{% url 'usuario:registrar' %}">REGISTRAR</a>
	{% endif %}
	

{% endblock contenido %}