{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Juegos Chaco</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
</head>
<body>
	<h1>G2 - CARPINCHO</h1>
	<header>
		<a href="{% url 'home' %}"><img src="{% static 'img/Capybara-with-Given-180x180.png' %}" width="100px" height="100px"></a>
	
	{% if user.is_authenticated %}
		<a href="{% url 'usuario:perfil' %}">{{user.username}}</a>
		<a href="{% url 'logout' %}">LOGOUT</a>
	{% else %}
		<a href="{% url 'login' %}">LOGIN</a>
		<a href="{% url 'usuario:registrar' %}">REGISTRAR</a>
	{% endif %}
	</header>
	
	
	<h3> <a style="margin-right: 20px"; href="{% url 'home' %}">Home</a><a style="margin-right: 20px" href="{% url 'preguntas:jugar' %}">Jugar</a> <a style="margin-right: 20px"; href="{% url 'nosotros' %}">Nosotros</a></h3>
	

	

{% block contenido %}

{% endblock contenido %}

</body>
</html>