{% extends 'base.html' %}
{% load static %}


{% block contenido %}

	<h1>¡Bienvenido/a!</h1>
	
	<br>
	<h4>Haz click en Jugar para iniciar el juego</h4>
	<br>
	<h4>Haz click en Nosotros para saber un poco sobre los creadores del juego</h4>

	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/base.css' %}">

	<a href = "{% url 'home' %}"><img src = "{% static 'img/1main.png' %}"></a>
	<br>	
	<h4>Este proyecto fue realizado en el marco del INFORMATORIO</h4>
	<h1>Probando contenido</h1>
{% endblock contenido %}